{% extends 'users/dashboard.html' %}

	 {% block subtitle %} 
	 Pay verification processes may take some time to complete
	  {% endblock subtitle %} 


      {% block form_outer %}
      
      {% block charts %}
      
      {{block.super}}
     
      {% endblock charts %}
      
      {% endblock form_outer %}
      
      
      
      

      {% block charts_outer %}
      
      
     <ul class = 'w3-ul w3-row-padding'>
     
     <li style = 'margin-bottom:5px;'  class = 'w3-rightbar w3-half w3-padding-32 w3-green '>
     
     <i class = 'w3-large w3-padding fa fa-money-bill '></i>
     
      <span class = 'w3-large' >Balance</span>   <span class = 'w3-large  w3-white w3-text-red w3-tag  w3-round w3-right'> {{ request.user.wallet.balance }} &#36</span> </li>
     
     
     
     <li  style = 'margin-bottom:5px;overflow:auto' class = 'w3-rightbar w3-half w3-padding-32 w3-green '> 
     
     <i class = 'w3-large w3-padding fa fa-dollar'></i>
     <span class = 'w3-large' > Bonus </span>   <span style = 'overflow:auto' class = 'w3-large w3-white w3-text-green  w3-tag  w3-round w3-right'> {{ request.user.wallet.bonus  }} &#36</span> </li>
     
     
     </ul>
     
     
     <ul class = 'w3-ul w3-row-padding'>
     
     <li style = 'margin-bottom:5px'  class = 'w3-half w3-rightbar w3-padding-32 w3-green '>
     
     <i class = 'w3-large w3-padding fa fa-money-check '></i>
      <span class = 'w3-large' > Withdrawable amount</span>   <span class = ' w3-tag  w3-white w3-text-green w3-round w3-large w3-right'> {{ request.user.wallet.balance }} &#36</span> </li>
     
     
     
     <li style = 'margin-bottom:5px'  class = 'w3-half w3-rightbar w3-padding-32 w3-green '>
     
     
     {% if  request.user.is_active %} 
     
     <i class = 'w3-large w3-padding fa fa-user-check '></i>
     {% else %}
     
     <i class = 'w3-large w3-padding fa fa-user-times '></i>
     {% endif %}
     
     
      <span class = 'w3-large' > Account status </span>   <span class = ' w3-tag   w3-white w3-text-green w3-round w3-large w3-right'> 
     
     
     
     {% if  request.user.is_active %} 
     Active
     {% else %}
     Inactive
     {% endif %}
     
     </span> </li>
     
     
     </ul>
     
     
     <ul class = 'w3-ul w3-row-padding'>
     
     
     <li  style = 'margin-bottom:5px' class = 'w3-half w3-rightbar  w3-padding-32 w3-green '>
     
     <i class = 'w3-large w3-padding fa fa-info-circle '></i>
      <span class = 'w3-large' >Account name</span>   <span class = ' w3-white w3-text-green w3-tag  w3-round w3-large w3-right'> {{ request.user.get_fullname }}</span> </li>
     
     
     
     
     
     <li  style = 'margin-bottom:5px;overflow:auto' class = 'w3-rightbar w3-half w3-padding-32 w3-green '> 
     
     
     <i class = 'w3-large w3-padding fa fa-id-card-alt'></i>
     
     <span class = 'w3-large' >User ID </span>   <span style = 'overflow:auto' class = ' w3-white w3-text-green w3-tag  w3-round w3-large w3-right'> {{ request.user.id | truncatechars:20  }}</span> </li>
     
     </ul>
     
     
     <ul class = 'w3-ul w3-row-padding'>
     
     
     <li  style = 'margin-bottom:5px;overflow:auto' class = 'w3-rightbar w3-half w3-padding-32 w3-green '>
     
     <i class = 'w3-large w3-padding fa fa-wallet '></i>
      <span class = 'w3-large' >Wallet ID </span>   <span style = 'overflow:auto' class = ' w3-tag   w3-white w3-text-green w3-round w3-large w3-right'> {{ request.user.wallet.wallet_address | truncatechars:20  }}</span> </li>
     
     
     <li  style = 'margin-bottom:5px' class = 'w3-rightbar w3-half w3-padding-32 w3-green '> 
     
     <i class = 'w3-large w3-padding fa fa-envelope '></i>
     <span class = 'w3-large' >Email</span>   <span class = ' w3-tag w3-white w3-text-green  w3-round w3-large w3-right'> {{ request.user.email }}</span> </li>
     
     </ul>
     
     
     <ul class = 'w3-ul w3-row-padding'>
     
     <li style = 'margin-bottom:5px'  class = 'w3-rightbar w3-half w3-padding-32 w3-green '> 
     
     <i class = 'w3-large w3-padding fas fa-user-clock '></i>
     <span class = 'w3-large' >Last login </span>   <span class = ' w3-white w3-text-green w3-tag  w3-round w3-large w3-right'> {{ request.user.last_login }} </span> </li>
     
     
     <li  style = 'margin-bottom:5px' class = 'w3-rightbar w3-half w3-padding-32 w3-green '> 
     
     <i class = 'w3-large w3-padding fa fa-calendar '></i>
     <span class = 'w3-large' >Member since</span>   <span class = ' w3-white w3-text-green w3-tag  w3-round w3-large w3-right'> {{ request.user.date_joined.date }}</span> </li>
     
     </ul>
      
      
      
      
      {% endblock charts_outer %}



	
  {% block page_stats %}
  

  <!-- Header -->
  <header class="w3-container" style="padding-top:22px">
    <h5><b><i class="fa fa-user"></i>  Account Information Page </b></h5>
    
    <p class = 'w3-medium w3-text-green'> Access your balance,bonus,rating and also manage your info.  </p>
   
   <a href = '{% url "users:dashboard_view" %}' > <p class = 'w3-button w3-tiny w3-round-xlarge w3-khaki'> Skip to deposits </p></a>
    
  </header>
  
  
  {% endblock page_stats %}

	
  {% block coins %}
  {% endblock coins %}