{% extends 'main/base.html' %}
{% load static %}

{% block body %}


<div id = 'addr' class = 'w3-animate-zoom w3-container  w3-center w3-light-green w3-top w3-round ' style = 'position:fixed;height:35rem;width:30rem;margin-top:10%;display:none;'>

<p style = 'font-family:comfortaa;text-shadow:1.5px 1.5px .2px rgba(0,0,0,0.4);' id = 'addr-inner' class = 'w3-xlarge w3-text-white w3-padding-32'> Hey, copy this address to fund your account 
</p>



<p class = 'w3-padding-16 w3-white w3-text-black w3-xlarge '> <i style = 'font-family:leaguespartan' id = 'wallet-addr' > hqUaujshJwusjskkemsjj8sjJsu </i> 
</p>


<br/>


<div class = 'w3-bar w3-block'>

<button onclick = 'closeAddr()' class = 'w3-bar-item w3-button closeAddr w3-round-large w3-block w3-xlarge w3-green'> close &times </button>


</div>

</div>


{% block nav %}
{{block.super }}
{% endblock nav %}


<div style = 'margin-top:64px' class = 'w3-row-padding w3-center w3-grey '>


{% block page_head %}

<div class = 'w3-col s4 l4 m4 w3-center '>

<p class = ' w3-text-white w3-black w3-round-large'> Dashboard </p>

</div>


<div class = 'w3-col s4 l4 m4 w3-center '>

<p style = 'font-family:quicksandbold' class = ' w3-text-black  w3-medium '> <i>Welcome  </i> {{ request.user.firstname | title }} </p>

</div>

<div class = 'w3-col s4 l4 m4 w3-center '>

<p class = ' w3-text-black w3-medium '> <i class = 'w3-tiny'> Balance : </i> &nbsp &nbsp{{ request.user.wallet.balance }} </p>

</div>


{% endblock page_head %}


</div>


{% block top_info %}

{% block info %}

<div class = 'w3-row-padding'>


<div class = 'w3-col l6 m6 w3-mobile w3-section'>

{% block cryptos %}

<div class = 'w3-hide-small w3-section '>
{{block.super}}
</div>

<div class = 'w3-container w3-center w3-xxlarge'>

<span class = 'w3-tag w3-red '>Our </span>

<br/>

<span class = 'w3-tag w3-blue'> wallets </span>

<br/>

<span class = 'w3-tag w3-teal'> are </span>

<br/>

<span class = 'w3-tag w3-pink'> guarded </span>

<br/>

<span class = 'w3-tag w3-orange'> with </span>
<br/>


<span class = 'w3-tag w3-black'> top </span>


<br/>


<span class = 'w3-tag w3-yellow'> notch </span>

<br/>

<span class = 'w3-tag w3-light-green'> Security </span>

</div>

{% endblock cryptos %}

</div>

<div class = 'w3-col l6 m6 w3-mobile w3-center'>


<!-- content -->


<div class = 'w3-cell-row w3-card-4 w3-section '>
<header class = 'w3-medium w3-container w3-green'>

<p style = 'font-family:roboto1'  class = 'w3-teal w3-padding w3-large '> Fund your wallet in five simple steps </p>


<p>
1.Select your prefered currency
</p>
<p>
2.Copy the address
</p>
<p>
3.Credit the address
</p>
<p>
4.Verify your payment here
</p>

<p>
5.Then watch your balance grow
</p>



</header>


<img src  = '{% static "main/images/p1.jpg" %}' class = 'w3-image' />

<footer  class = 'w3-medium w3-cursive w3-xlarge w3-container w3-green' >
<a href ='{% url "users:dashboard_view" %}#coins' class = 'w3-button w3-block'>

Show me!

</a>
</footer>

</div>






</div>

{% endblock info %}

{% endblock top_info %}

{% block coins %}
<!-- deposit -->

<div  class = 'w3-row-padding '>

<div class = 'w3-col w3-center w3-section l4 m4 w3-mobile w3-teal w3-card-4'>
<p id = 'coins' class = 'w3-center-align  w3-text-white w3-xlarge'> Bitcoin </p>

<img src  = '{% static "main/images/p2.jpg" %}' class = 'w3-image' />
<p class = 'w3-xxlarge  w3-text-white w3-btn w3-block' onclick = 'openAddr(1)' > + </p>
</div>




<div class = 'w3-col w3-center  w3-section l4 m4 w3-mobile w3-teal w3-card-4'>
<p class = 'w3-center-align w3-text-white w3-xlarge'> Ethereum </p>

<img src  = '{% static "main/images/p2.jpg" %}' class = 'w3-image' />
<p class = 'w3-xxlarge  w3-text-white  w3-btn w3-block' onclick = 'openAddr(2)'  > + </p>
</div>




<div class = 'w3-col w3-center  w3-section  l4 m4 w3-mobile w3-teal w3-card-4'>
<p class = 'w3-center-align  w3-text-white w3-xlarge'> Fortron </p>

<img src  = '{% static "main/images/p2.jpg" %}' class = 'w3-image' />
<p class = 'w3-xxlarge  w3-text-white  w3-btn w3-block' onclick = 'openAddr(3)'  > + </p>
</div>


</div>


<!-- ## -->




<!-- deposit 2 -->

<div class = 'w3-row-padding '>

<div class = 'w3-col w3-center w3-section l4 m4 w3-mobile w3-teal w3-card-4'>
<p class = 'w3-center-align  w3-text-white w3-xlarge'> Libra </p>

<img src  = '{% static "main/images/p2.jpg" %}' class = 'w3-image' />
<p class = 'w3-xxlarge  w3-text-white w3-btn w3-block' onclick = 'openAddr(4)'  > + </p>
</div>




<div class = 'w3-col w3-center  w3-section l4 m4 w3-mobile w3-teal w3-card-4'>
<p class = 'w3-center-align w3-text-white w3-xlarge'> Bitcash </p>

<img src  = '{% static "main/images/p2.jpg" %}' class = 'w3-image' />
<p class = 'w3-xxlarge  w3-text-white  w3-btn w3-block' onclick = 'openAddr(5)'  > + </p>
</div>




<div class = 'w3-col w3-center  w3-section  l4 m4 w3-mobile w3-teal w3-card-4'>
<p class = 'w3-center-align  w3-text-white w3-xlarge'> Litecoins </p>

<img src  = '{% static "main/images/p2.jpg" %}' class = 'w3-image' />
<p class = 'w3-xxlarge  w3-text-white  w3-btn w3-block'  onclick = 'openAddr(6)'  > + </p>
</div>


</div>


{% endblock coins %}
<!-- ## -->


{% block slideshow %}
{{ block.super }}
{% endblock slideshow %}




{% block curr %}
{{block.super}}
{% endblock curr %}


{% block bottomnav %}
{{block.super}}
{% endblock bottomnav %}



{% block footer %}
{{block.super}}

{% endblock footer %}







{% block js %}
<script>

{{block.super}}

function closeAddr(){

//alert("close");
document.getElementById('addr').style.display = 'none';

}


function openAddr(n = 1){

let txt = '';

if (n == 1) txt = 'Hey , copy this address to fund your wallet with bitcoins';

if (n == 2) txt = 'Hey , copy this address to fund your wallet with Ethereum';

if (n == 3) txt = 'Hey , copy this address to fund your wallet with Fortron';

if (n == 4) txt = 'Hey , copy this address to fund your wallet with Libra';

if (n == 5) txt = 'Hey , copy this address to fund your wallet with Bitcash';

if (n == 6) txt = 'Hey , copy this address to fund your wallet with Litecoins';


document.getElementById('addr-inner').innerHTML = txt;


//alert("open");
document.getElementById('addr').style.display = 'block';


}


</script>



{% endblock js %}

{% endblock body %}



