{% extends 'main/base.html' %}




{% block elink %}

<a id = 'link' href = '{% url "users:dashboard_view" %}'> <button class = 'create  btn btn-secondary mx-auto d-block ' > Go to Dashboard </button> </a>

{% endblock elink %}



{% block peptalk %}

Here's your account summary, visit the dashboard to manage your wallet

{% endblock %}



{% block styles %}


a,#link{ 
text-decoration: none;
}


.head-txt{

color: #4888D8;
font-size:1.5rem;
font-family:leaguespartan;
background-color:inherit;
margin:auto;
min-height:4rem;
width:80%;
border:.1px solid transparent;
border-radius:1rem;
text-align:center;
padding:.5rem;
vertical-align:middle;
margin-top:2rem;

}


.details{



}


.details > p{
background-color:#58A0E8;
padding:1.5rem;
border:.1rem solid #4888D8;
border-radius:.25rem;
font-family: quicksandbold;
font-size:1.1rem;
color: #F0F0F0;
text-align:center;
margin:0;
margin:auto;
}

.person > svg{
margin:auto;
font-size:6rem;
color:#4888D8;
}

{{block.super}}


{% endblock styles %}


{% block pitch %}


<div class = 'acct-container container' >

<div class = 'details mx-auto'>

<h3 class = 'head-txt' > Account Summary </h3>

<div  class = 'person'>
<svg class = 'mx-auto d-block my-4' width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-person-circle" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
  <path d="M13.468 12.37C12.758 11.226 11.195 10 8 10s-4.757 1.225-5.468 2.37A6.987 6.987 0 0 0 8 15a6.987 6.987 0 0 0 5.468-2.63z"/>
  <path fill-rule="evenodd" d="M8 9a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
  <path fill-rule="evenodd" d="M8 1a7 7 0 1 0 0 14A7 7 0 0 0 8 1zM0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8z"/>
</svg>
</div>


<p > Account name : <span> {{ request.user.get_fullname }} </span>  </p>

<p> Wallet Balance : <span> {{ request.user.wallet.balance }}  {{ request.user.wallet.sym | upper  }} </span>  </p>



<p> Account Email : <span> {{ request.user.email }} </span>  </p>

<p> Account ID : <span> {{ request.user.id }} </span>  </p>


<p> Date Created : <span> {{ request.user.date_joined.date }} </span>  </p>


<p> Wallet Address : <span> {{ request.user.wallet_address }} </span>  </p>


<p> Last Login : <span> {{ request.user.last_login }} </span>  </p>


</div>






</div>

{% endblock pitch %}