{% extends 'users/dashboard.html' %}

	 {% block subtitle %} 
	 Pay verification processes may take between 3 and 5 working days
	  {% endblock subtitle %} 


      {% block form_outer %}
      
      {% block charts %}
      
      {{block.super}}
     
      {% endblock charts %}
      
      {% endblock form_outer %}
      
      
      
      

      {% block charts_outer %}
      
      {% block form %}
      {{block.super}}
      {% endblock form %}
      
      {% endblock charts_outer %}



	
  {% block page_stats %}
  

  <!-- Header -->
  <header class="w3-container" style="padding-top:22px">
    <h5><b><i class="fa fa-check-circle"></i> Verify Pay</b></h5>
    
    <p class = 'w3-large'> Verify your payment to get credited  </p>
    <p> Fill the form below </p>
  </header>
  
  
  {% endblock page_stats %}

	
  {% block coins %}
  {% endblock coins %}