{% extends 'users/dashboard.html' %}




    {% block withdraw_link %}
    <a href = '{% url "users:withdraw_view" %}'    class="w3-bar-item w3-button w3-padding">
    
    <i class="fa fa-dollar fa-fw"></i>  Withdraw </a>
    {% endblock withdraw_link %}

	 {% block subtitle %} 
	 
	 Fill the withdrawal form below.
	 
	  {% endblock subtitle %} 


      {% block form_outer %}
      
      
      
  
  {% if msg %}
  <!-- alert panel-->
  
 <div id = 'msg01' style = 'display:block;z-index:50;' class = 'w3-modal  '>
 <div id = 'innermsg01' class = ' w3-large w3-modal-content w3-animate-left w3-padding-16 w3-container w3-card-4 w3-{{color}}'>
 
 <p id = 'msgbox' > {{ msg | safe }} </p>
 
 <button onclick = 'document.getElementById("msg01").style.display = "none" ' class = 'w3-btn w3-display-topright'> &times </button>
 
 </div>
 </div>
  {% endif %}
  
      
      <form id = 'verify' class = 'w3-green w3-card w3-container w3-large' method = 'post' action = '{% url "users:withdraw_view" %}'>

{% csrf_token %}




<div class = 'w3-section'>
<label> Email </label><br>
<input type = 'text' required class = 'w3-opacity w3-border w3-border-green w3-input'  name = 'email ' readonly value = {{request.user.email}} placeholder = 'Email' />
</div>


<div class = 'w3-section'>
<label> Withdrawal mode </label><br>
<select id = 'pay_channels' onchange = 'channel_change()'  name  = 'mode' class = 'w3-select  w3-border w3-border-green ' >

<option value = 'wallet'> Wallet</option>
<option value = 'bank'> Bank Transfer </option>
</select>
</div>



<div class = 'w3-section'>
<label class = 'w3-' > Authentication PIN </label>
<input  name = 'pin' maxlength = '72' minlength = '25' class = 'w3-input w3-border w3-border-green w3-input' placeholder = 'PIN' required type = 'uuid'    />
<small style = 'font-weight:bold' class = 'w3-tiny  w3-text-white'> Procure your AUTH PIN from the admin </small>
</div>

<div class = 'w3-section'>
<label> Amount </label><br>
<input type = 'number' required class = 'w3-border w3-border-green w3-input' name = 'amount'  placeholder = 'Amount ' />
</div>




<div class = 'w3-section w-ch'>
<label> Wallet type </label><br>
<select  name = 'wallet_type' class = 'w3-select  w3-border w3-border-green ' >

<option value = ''> Choose wallet type </option>
<option value = 'bitcoin'> Bitcoin </option>
<option value = 'eth'> Ethereum </option>
</select>
</div>

<div class = 'w3-section w-ch '>
<label class = '' > Wallet Address </label>
<input  name = 'wallet_addr' class = 'w3-input w3-border w3-border-green w3-input' type = 'text' placeholder = 'Wallet Address'  />
</div>



<div style = 'display:none'  class = 'w3-section  b-ch '>
<label class = '' > Bank name </label>
<input  name = 'bank_name' class = 'w3-input w3-border w3-border-green w3-input' type = 'text' placeholder = 'Bank name'    />
</div>



<div style = 'display:none'  class = 'w3-section   b-ch '>
<label class = '' > Account No </label>
<input  name = 'bank_acct_no' class = 'w3-input w3-border w3-border-green w3-input' type = 'number' placeholder = 'Account No'  />
</div>



<div  style = 'display:none' class = 'w3-section   b-ch '>
<label class = '' > Bank Swiftcode </label>
<input  name = 'bank_swift' class = 'w3-input w3-border w3-border-green w3-input' type = 'text' placeholder = 'SWIFT code' />
</div>




<div class = 'w3-section'>

<label class = '' > Leave a description </label>
<textarea rows = '4'  name = 'desc' class = 'w3-textarea w3-input w3-border w3-border-green ' >  </textarea>
</div>


<input type = 'submit' value = 'Submit' class = 'w3-button w3-block w3-black'>
</form>

      
      {% endblock form_outer %}
      
      
      
      

      {% block charts_outer %}
      {% endblock charts_outer %}



	
  {% block page_stats %}
  

  <!-- Header -->
  <header class="w3-container" style="padding-top:22px">
    <h5><b>
    <i class="fa fa-dollar "></i>
    <i class="fa fa-check-double"></i>  Withdrawals  </b></h5>
    
    <p class = 'w3-medium w3-text-blue'> Ensure you have procured your one-time authentication PIN from the administrator to facilitate withdrawal</p>
   
   <a href = '{% url "users:dashboard_view" %}' > <p class = 'w3-button  w3-card w3-tiny w3-round-xlarge w3-khaki'> Skip to deposits </p></a>
   &nbsp &nbsp
    <a href = '#' > <p class = 'w3-button w3-tiny w3-round-xlarge w3-blue w3-card'> Get AUTH PIN </p></a>
    
    
  </header>
  
  
  {% endblock page_stats %}

	
  {% block coins %}
  {% endblock coins %}
